@page "/fans"
@rendermode InteractiveWebAssembly

@using ScottPlot
@using ScottPlot.Blazor
@using System.Linq
@using System.Globalization

<h1>Fans</h1>

<BlazorPlot @ref="blazorPlot" Style="width: 800px; height: 500px;" />

@code {
    BlazorPlot blazorPlot = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var plt = blazorPlot.Plot;

            
            double[] xs = { 0, 500, 1000, 1500, 2000 };
            double[] ysLeft = { 0, 155.350, 310.700, 466.050, 621.400 };
            double[] ysLeft2 = { 0, 78, 155, 233, 310 };
            var leftLine = plt.Add.Scatter(xs, ysLeft);

            var yLeft2 = plt.Axes.AddLeftAxis();
            var leftLine2 = plt.Add.Scatter(xs, ysLeft2);
            leftLine2.Axes.YAxis = yLeft2;

            var yLeft = plt.Axes.Left;
            yLeft.Label.Text = "Volumetricflow";
            yLeft.Label.FontSize = 12;
            yLeft.Label.ForeColor = Colors.Green;
            yLeft.MinimumSize = 70;
            yLeft.SetTicks(
                ysLeft,
                ysLeft.Select(v => v == 0 ? "0" : v.ToString("N3", CultureInfo.InvariantCulture).Replace(",", ".")).ToArray()
            );


            yLeft.Min = ysLeft.Min();
            yLeft.Max = ysLeft.Max();

            var volLine = plt.Add.Scatter(xs, ysLeft);
            volLine.Color = Colors.DodgerBlue;
            volLine.LineWidth = 2;
            volLine.MarkerSize = 0;
            // volLine.Axes.YAxis = yLeft; // aseguramos que usa este eje

            yLeft2.LabelText = "Speed [rpm]";
            yLeft2.LabelFontSize = 12;
            yLeft2.LabelFontColor = Colors.DeepPink;
            yLeft2.MinimumSize = 50;
            yLeft2.SetTicks(ysLeft2, ysLeft2.Select(v => v.ToString()).ToArray());
            yLeft2.FrameLineStyle.IsVisible = false;

            yLeft2.Min = ysLeft2.Min();
            yLeft2.Max = ysLeft2.Max();

            var massLine = plt.Add.Scatter(xs, ysLeft2);
            massLine.Color = Colors.Orange;
            massLine.LineWidth = 2;
            massLine.MarkerSize = 0;
            // massLine.Axes.YAxis = yLeft2;

            var xAxis = plt.Axes.Bottom;
            xAxis.Label.Text = "Time [minutes]";
            xAxis.SetTicks(xs, xs.Select(v => v.ToString()).ToArray());
            xAxis.Min = xs.Min();
            xAxis.Max = xs.Max();
            xAxis.FrameLineStyle.IsVisible = true;
            xAxis.FrameLineStyle.Color = Colors.Black;

            plt.Axes.Right.IsVisible = true;

            // Líneas de los ejes visibles
            // yLeft.FrameLineStyle.IsVisible = true;
            // yLeft.FrameLineStyle.Color = Colors.Black;
            // yLeft2.FrameLineStyle.IsVisible = true;
            // yLeft2.FrameLineStyle.Color = Colors.Black;
            // xAxis.FrameLineStyle.IsVisible = true;
            // xAxis.FrameLineStyle.Color = Colors.Black;

            // Márgenes para dejar sitio a etiquetas
            plt.Axes.Margins(left: 180, right: 10, top: 10, bottom: 40);


            xAxis.Min = xs.Min();
            xAxis.Max = xs.Max();



            yLeft.Min = ysLeft.Min();
            yLeft.Max = ysLeft.Max();

            yLeft2.Min = ysLeft2.Min();
            yLeft2.Max = ysLeft2.Max();


            // plt.Legend.IsVisible = true;
            // plt.Legend.Alignment = Alignment.UpperRight;

            blazorPlot.Refresh();
        }
    }
}
